<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta
  name="description"
  content="Buddy's Restaurant Catalogue Application.
          This project is for submission Front-End
          Developer Expert from Dicoding."/>
  <meta name="theme-color" content="#cf7500"/>
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="/images/icons/icon-192x192.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>Buddy's Resto Apps</title>
</head>
<body>
  <a href="#maincontentskip" class="skip">Menuju Explore</a>
  <pre-loader></pre-loader>
  <scroll-up></scroll-up>
  <app-bar></app-bar>
  <hero-slider></hero-slider>
  <main-content></main-content>
  <subscribe-email></subscribe-email>
  <footer-bottom></footer-bottom>
</body>
</html>
