@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #e8e4e1;
  scroll-behavior: smooth;
}

.skip {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #cf7500;
  color: white;
  padding: 8px;
  z-index: 100;
  border: none;
}

  .skip:focus {
    top:0;

  }

.title {
  text-align: center;
  border: 2px;
  border-style: solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  background-color: #f0a500;
  transition: 0.5s;
}

  .title:hover {
    border: 2px;
    border-style: dashed;
    text-decoration: underline;
    background-color: #cf7500;
    color: #e8e4e1;
  }

#cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#imagecard {
  height: 400px;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.cards-item {
  display: flex;
  padding: 1rem;
}

  @media (min-width: 45rem) {
    .cards-item {
      width: 50%;
    }
  }

  @media (min-width: 60rem) {
    .cards-item {
      width: 33.3333%;
    }
  }

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  background-color: #f4f4f4;
}

  .card:hover .card-image {
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
  }

.card-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 1rem;
}

.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.label-rating {
  position: absolute;
  background-color: #f0a500;
  padding: 10px 15px 10px 15px;
}

.label-city {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f0a500;
  padding: 10px 15px 10px 15px;
}

  @media (min-width: 45rem) {
    .card-image::before {
      padding-top:66.6%;
    }
  }

.card-title {
  font-family: 'Acme', sans-serif;
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.card-title a {
  color: #696969;
}

.card-text {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/*
  Like-Button
*/

.like-button {
  position: fixed;
  bottom: 85px;
  right: 27px;
  font-size: 18px;
  background-color: #ec823a;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.like-button:active {
  background-color: #f0a500;
}

.unlike-button {
  position: fixed;
  bottom: 85px;
  right: 27px;
  font-size: 18px;
  background-color: #ec823a;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.unlike-button:active {
  background-color: #f0a500;
}
